body {
width:100%;
background: #FFFFFF;
margin-left:auto;
margin-right:auto;
margin-top: 0;
min-width: 480px;
}

hr {
clear: both;

}

h1 {
font-size: 1.75em; 
font-family: Georgia, Arial, "Times New Roman";
}

h2 {
font-size: 1.5em; 
font-family: Georgia, Arial, "Times New Roman";
}

h3 {
font-size: 1.3em; 
font-family: Georgia, Arial, "Times New Roman";

}

h4 {
font-size: 1em; 
font-family: Georgia, Arial, "Times New Roman";
}

h5 { 
font-size: 0.95em; 
font-family: Georgia, Arial, "Times New Roman";
padding-top:1px;
padding-bottom:10px;
margin:0;
}

p {
font-size: 0.85em; 
font-family: Georgia, Arial, "Times New Roman";
color:#000000;
}

a {
	color:#7D7C7C;
	text-decoration: none;
}

a:visited {
color: #bbbbbb;
}

a:hover {
	color:#68CCAE;
}

/*ids begin*/
#wrapper {
	padding:5%;
	vertical-align: top;

}

#header {
font-size: 1em; 
font-family: Georgia, Arial, "Times New Roman";	
height:50px;
background-color: #FFFFFF;
padding: 5px;

}

#mainbody {
width:75%;
float: left;
padding-bottom:20px;
padding-left: 5px;
padding-top: 5px;
padding-right: 5px;
margin: 5px;
display: inline;
}


#footer{
clear: both;
font-size: .75em;
font-family: Georgia, Arial, "Times New Roman";
text-align: center;
background: #D1D1D1;
padding:5px;
margin:0;
}



/*ids end*/

/*classes begin*/

hr.top {
clear:both;
height:10px;
background: #44B5F2;
margin: 0px;
padding: 5px;
}



.codeeditor {
color: #000000;
font-size: .8em; 
font-family: Georgia, Arial, "Times New Roman";
text-align: left;
margin: 0;
padding:15px;
background-color: #68CCAE;
display: inline-block;
min-width: 50px;
width: 10%;
height: 300px;
float: left;

}


.bottom {
font-size: .9em;
font-family: Georgia, Arial, "Times New Roman";
}



/*classes end*/

